#packages {
  display: flex;
  color: #e6e6e6cb;
  max-width: 100vw;
  min-height: 160vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000;
  overflow-x: hidden !important;
}

#packages > h2 {
  font-size: 65px;
  color: #f68126;
  margin-bottom: 1em;
  letter-spacing: 1px;
}

#packages > .plans {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.plans > .lhs {
  width: 48%;
  padding: 2em 0 3em 0;
  border: 1px solid #fff;
  background-color: #f68326;
}

.plans .lhs .brandBox,
.plans .rhs .brandBox {
  width: 140px;
  height: 140px;
  display: flex;
  margin: 0 auto;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #F6A866;
}

.plans .lhs .brandBox img,
.plans .rhs .brandBox img {
  width: 60%;
}

.plans .lhs > h3.option,
.plans .rhs > h3.option {
  color: #fff;
  font-size: 23px;
  margin-top: 1em;
  font-weight: bold;
  text-align: center;
}

.plans .lhs > span.option__tagline,
.plans .rhs > span.option__tagline {
  font-size: 12px;
  display: block;
  font-weight: 600;
  text-align: center;
  margin-top: .8em;
  position: relative;
}

.plans .lhs > span.option__tagline::after,
.plans .rhs > span.option__tagline::after {
  content: "";
  width: 30px;
  height: 1px;
  margin-top: 5em;
  position: absolute;
  bottom: -10px;
  right: 165px;
  border-radius: 10px;
  background-color: #e6e6e6cb;
}

.plans .lhs > h3.tariff,
.plans .rhs > h3.tariff {
  color: #000;
  margin-top: 1.5em;
  font-size: 20px;
  margin-left: 2em;
  display: flex;
  align-items: baseline;
}

.plans .lhs > h3.tariff > span:first-child,
.plans .rhs > h3.tariff > span:first-child {
  font-size: 22px;
  font-weight: 900;
}

.plans .lhs > h3.tariff > span:last-child {
  color: #e6e6e6cb;
}

.plans .lhs > p.cta,
.plans .rhs > p.cta {
  margin-left: 2.7em;
  margin-top: 1em;
  display: inline-block;
  padding-bottom: .8em;
  border-bottom: 2px solid #e6e6e6cb;
}

.plans .lhs > span.features,
.plans .rhs > span.features  {
  color: #fff;
  font-size: 12px;
  width: 80px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  background-color: #F6A866;
  border-radius: 50px;
  margin: .8em 0 2em 3.2em;
}

.plans .lhs > ul,
.plans .rhs > ul {
  padding: 0;
  margin-left: 2.5em;
  list-style-type: none;
}

.plans .lhs > ul > li,
.plans .rhs > ul > li {
  margin-left: .2em;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 1em;
}

.plans .lhs > ul > li > i,
.plans .rhs > ul > li > i {
  margin-right: 10px;
}

.plans .lhs > p.activateBtn,
.plans .rhs > p.activateBtn {
  width: 60%;
  height: 40px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  border-radius: 50px;
  justify-content: center;
  background-color: #fff;
  -webkit-box-shadow: 0 9px 6px -6px #11111148;
     -moz-box-shadow: 0 9px 6px -6px #11111148;
          box-shadow: 0 9px 6px -6px #11111148;
}

.plans .lhs > p.activateBtn {
  margin-top: 3.4em;
}

.plans .lhs > p.activateBtn a,
.plans .rhs > p.activateBtn a {
  width: 100%;
  height: 100%;
  display: flex;
  color: #f68126;
  align-items: center;
  justify-content: center;
}

.plans > .rhs {
  width: 48%;
  padding-top: 2em;
  position: relative;
}

.plans > .rhs::before {
  content: "";
  position: absolute;
  top: 120px;
  left: 0;
  width: 12px;
  height: 55%;
  background: linear-gradient(#191806, #190F04, #180502);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.plans .rhs .brandBox,
.plans .rhs > span.features {
  background-color: #222222;
}

.plans .rhs > h3.option {
  color: #f68126;
}

.plans .rhs > span.option__tagline,
.plans .rhs > h3.tariff > span:last-child,
.plans .rhs > span.features {
  color: #b65325;
}

.plans .rhs > h3.tariff {
  color: #e6e6e6cb;
}

.plans .rhs > p.activateBtn {
  background-color: #f68126;
}

.plans .rhs > p.activateBtn a {
  color: #fff;
}