#whatsHot {
  display: flex;
  align-items: center;
  padding: 20px 75px;
  position: relative;
  background-color: #000;
  max-width: 100vw important;
  min-height: 125vh !important;
  overflow-x: hidden important;
}

#whatsHot .lhs h2 {
  font-size: 60px;
  color: #f68126;
  margin-bottom: 25px;
  letter-spacing: 1px;
}

#whatsHot .lhs .next {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 40px;
  left: 590px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #f68126;
}

#whatsHot .lhs .next > i {
  color: #fff;
  font-size: 25px;
  font-weight: 900;
}