#download {
  display: flex;
  max-width: 100vw;
  min-height: 120vh;
  align-items: center;
  background-color: #000;
  padding-bottom: 10em;
  justify-content: space-evenly;
  overflow-x: hidden !important;
}

#download .lhs {
  width: 40%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

#download .lhs img:first-child {
  width: 50%;
}

#download .lhs img:last-child {
  width: 50px;
  position: absolute;
  top: 150px;
  right: 243px;
}

#download .rhs {
  width: 50%;
}

#download .rhs > h2 {
  font-size: 65px;
  letter-spacing: 1px;
  line-height: 80px;
  font-weight: 900;
  color: #f68126;
  margin-bottom: .3em;
}

#download .rhs > h2 > span {
  color: #fff;
}

#download .rhs > p {
  color: #747474;
  font-size: 18px;
  letter-spacing: .2px;
}

#download .downloadApp_box {
  width: 50%;
  display: flex;
  margin-top: 2em;
  align-items: center;
  justify-content: space-between; 

}

#download .downloadApp_box .lhsBtn_box,
#download .downloadApp_box .rhsBtn_box {
  width: 46%;
  height: 60px;
  display: flex;
  color: #fff;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background-color: #000;
  border: 1px solid #747474;
  transition: .5s ease-out;
}

#download .downloadApp_box .lhsBtn_box {
  margin-right: 10px;
}

#download .downloadApp_box .lhsBtn_box:hover,
#download .downloadApp_box .rhsBtn_box:hover {
  background-color: #f68126;
  border: 1px solid #fff;
}

#download .lhsBtn_box > i {
  font-size: 37px;
  margin-right: 10px;
}

#download .lhsBtn_box > .btn_content,
#download .rhsBtn_box > .btn_content  {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
}

#download .lhsBtn_box > .btn_content > span,
#download .rhsBtn_box > .btn_content > span {
  font-size: 15px;
  display: flex;
  color: #ddd;
  align-items: center;
  margin-bottom: -1px;
}

#download .lhsBtn_box > .btn_content > p,
#download .rhsBtn_box > .btn_content > p {
  margin: 0;
  font-size: 20px;
  display: flex;
  font-weight: 600;
  align-items: center;
}

#download .rhsBtn_box > img {
  margin-right: 8px;
  width: 30px;
}